<%- include("header.ejs") %>
    <h1>Contact</h1>
    <p>
        <%= contactcontent %>
    </p>
    <h3>github</h3>
    <a herf="https://github.com/Krishakkatiyar/TheDog">Krishakgit</a>
    <h3>linkedin</h3>
    <a href="https://www.linkedin.com/in/krishak-katiyar-aa563b1b2/">linkedin</a>
    <%- include("footer.ejs") %>